<!DOCTYPE html>

<html lang="fa">


<head>

    <meta charset="UTF-8">

    <title>پنل مدیریت</title>

    <link rel="stylesheet" href="/css/style.css">


</head>


<body>


<div class="panel-layout">



    <div class="sidebar">


        <h2>
            ادمین
        </h2>


        <a href="/admin">
            🏠 داشبورد
        </a>


        <a href="/admin/employees-page">
            👥 کارمندان
        </a>


        <a href="/admin/foods">
            🍔 غذاها
        </a>


        <a href="/admin/working-weeks">
            📅 هفته کاری
        </a>


        <a href="/admin/weekly-menus">
            📋 منوی هفتگی
        </a>


        <a href="/admin/orders">
            🛒 سفارش‌ها
        </a>


        <a href="/logout">
            🚪 خروج
        </a>



    </div>





    <div class="panel-content">



        <h1>
            داشبورد مدیریت
        </h1>



        <div class="card">


            <h3>
                آمار سیستم
            </h3>



            <p>
                تعداد کارمندان:
                <span id="employeeCount">
0
</span>
            </p>



            <p>
                تعداد غذاها:
                <span id="foodCount">
0
</span>
            </p>



            <p>
                تعداد سفارش‌ها:
                <span id="orderCount">
0
</span>
            </p>



        </div>




    </div>



</div>



</body>

</html>