<!DOCTYPE html>
<html lang="fa">
<link rel="stylesheet" href="/css/style.css">
<head>

    <meta charset="UTF-8">
    <title>پنل مدیریت</title>
</head>
<body>

<h1>پنل مدیریت سیستم سفارش غذا</h1>

<hr>

<h3>مدیریت اطلاعات</h3>

<ul>

    <li>
        <a href="/companies">
            🏢 مدیریت شرکت‌ها
        </a>
    </li>

    <li>
        <a href="/employees">
            👤 مدیریت کارمندان
        </a>
    </li>

    <li>
        <a href="/foods">
            🍔 مدیریت غذاها
        </a>
    </li>

    <li>
        <a href="/weekly-menu">
            📅 مدیریت منوی هفتگی
        </a>
    </li>

    <li>
        <a href="/orders">
            📋 سفارش‌ها
        </a>
    </li>

</ul>

</body>
</html>