<!DOCTYPE html>
<html lang="fa" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/style.css">
<head>
    <meta charset="UTF-8">
    <title>پنل مدیریت</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>

<body>

<div class="container">

    <h1>پنل مدیریت سیستم سفارش غذا</h1>

    <hr>

    <h3>مدیریت سیستم</h3>

    <ul>

        <li>
            <a th:href="@{/companies}">
                🏢 مدیریت شرکت‌ها
            </a>
        </li>

        <li>
            <a th:href="@{/admin/employees-page}">
                👤 مدیریت کارمندان
            </a>
        </li>

        <li>
            <a th:href="@{/admin/foods}">
                🍔 مدیریت غذاها
            </a>
        </li>

        <li>
            <a th:href="@{/admin/weekly-menus}">
                🗂️ مدیریت منوی هفتگی
            </a>
        </li>

        <li>
            <a th:href="@{/admin/orders}">
                📋 مدیریت سفارش‌ها
            </a>
        </li>
        <li>
            <a th:href="@{/admin/working-weeks}">
                📅 مدیریت هفته کاری
            </a>
        </li>


    </ul>

</div>

</body>
</html>