<!DOCTYPE html>

<html lang="fa">

<head>

    <meta charset="UTF-8">

    <title>ورود</title>


    <link rel="stylesheet" href="/css/style.css">


</head>



<body>



<div class="login-page">


    <div class="login-container">



        <h2>
            ورود به سیستم
        </h2>



        <form method="post" action="/login">



            <input
                    type="text"
                    name="username"
                    placeholder="نام کاربری">



            <input
                    type="password"
                    name="password"
                    placeholder="رمز عبور">



            <button type="submit">

                ورود

            </button>



        </form>



    </div>


</div>



</body>


</html>